/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap')

html {
    font-size: 100%; /*22px*/
}

body {
    background: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
    padding: 0;
    background-color: #eee;
    margin: 0 auto;

}
p {
    margin-bottom: 1rem;
}
h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    line-height: 1.3;
}
h1 {
    margin-top: 0;
    font-size: 3.052rem;
}
h2 {
    font-size: 2.441rem;
}
h3 {
    font-size: 1.953rem;
}
h4 {
    font-size: 1.563rem;
}
h5 {
    font-size: 1.25rem;
}
small {
    font-size: 0.8rem;
}



/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
header, main {
    padding: 2rem 1rem;
    margin: 0;
}
header {
    background-color: #0D1B2E;
    color: white;
}
pre {
    white-space: pre-line;
    display: block;
    margin-bottom: 2rem;
}
code {
    font-size: 2em;
    user-select: none;
}

textarea {
    width: 100%;
    resize: none;
    border: 1rem solid gray;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 2em;
}

section {
    max-width: 64ch;
    margin: 0 auto;
}

.meta {
    display: flex;
    justify-content: space-between;
}

.timer {
    font-size: 3em;
    font-weight: bold;
}

#reset {
    padding: .5em 1em;
    font-size: 1.2em;
    font-weight: bold;
    color: #E95D0F;
    background: white ;
    border: 10px solid #E95D0F;
}

#reset:hover {
    cursor: pointer;
    color: white;
    background-color: #E95D0F;
}
